<h1>Interventi</h1>

<table>
  <tr>
    <th>Data e Ora</th>
    <th>Nota</th>
    <th>Report</th>
  </tr>

  <tr>
    <td>
      <input type="datetime" [(ngModel)] = "DataOra">
    </td>

    <td>
      <input type="text" [(ngModel)] = "Nota">
    </td>

    <td>
      <input type="text" [(ngModel)] = "Report">
    </td>

    <td>
      <button (click) = "inserisci()">Inserisci</button>
    </td>
  </tr>
</table>

<br>
<br>

<table>
    <tr>
        <th>ID</th>
        <th>Data e Ora</th>
        <th>Nota</th>
        <th>Report</th>
    </tr>
    <tr *ngFor="let x of data">
      <td>
        <a [hidden] = "!x.nascondi">{{x.ID}}</a>
          <input [hidden] = "x.nascondi" type = "number" [(ngModel)]=x.ID>
      </td>

      <td>
        <a [hidden] = "!x.nascondi">{{x.DataOra}}</a>
          <input [hidden] = "x.nascondi" type = "datetime" [(ngModel)]=x.DataOra>
      </td>

      <td>
        <a [hidden] = "!x.nascondi">{{x.Nota}}</a>
          <input [hidden] = "x.nascondi" type = "text" [(ngModel)]=x.Nota>
      </td>

      <td>
        <a [hidden] = "!x.nascondi">{{x.Report}}</a>
        <input [hidden] = "x.nascondi" type = "text" [(ngModel)]=x.Report>
      </td>

      <td>
        <button [hidden]="!x.nascondi" (click) = "edita(x.ID)">Modifica</button>
        <button [hidden]="!x.nascondi" (click) = "cancella(x.ID)">Elimina</button>
        <button [hidden]="x.nascondi" (click) = 'modifica(x.ID)'>Conferma</button>
      </td>
    </tr>
</table>